<%- include('header') -%>

<h1 class="header header--1">Gat ekki skráð!</h1>
<p class="error__text">Hafðir þú skrifað undir áður?</p>
<a class="error__link" href="/">Til baka</a>

<%- include('footer') -%>
